tensorflow==2.15.0
sentencepiece==0.1.99
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.2
matplotlib==3.8.3
seaborn==0.13.2
tqdm==4.66.2
datasets==2.14.0
transformers==4.36.0
torch==2.1.0
huggingface-hub==0.20.0
